<section ng-controller="HomeController">
  <div class="jumbotron text-center">

    <div class="row">
      <p class="lead">
        Building a mini Inbox app
      </p>
    </div>

  </div>
  <div>
    <h2>Fonctionnalités.</h2>
    <p>- Authentification Facebook ou Google+ (au choix)</p>
    <p>- Import des contacts depuis Facebook ou Google+ (selon l'authentification choisie).</p>
    <p>- Envoi de message.</p>
    <p>- Assister l'utilisateur au moment de la saisie de l'adresse du destinataire (lister les
      contacts et autocomplete).</p>
    <p>- Réception des messages (en option : la réception en temps réel).</p>

  </div>

  <div>
    <h2>Technologies.</h2>
    <p>- Backend : SailsJS ou ExpressJS ou hapiJS</p>
    <p>- Frontend : reactJS ou AngularJS ou Android ou iOS.</p>

  </div>

  <br>OMAR SALLAH
</section>
